<nav class="navbar navbar-default headerColor">
  			<div class="container-fluid">
    			<div class="navbar-header col-md-5">     
      				<label class="navbar-brand">{{title}}</label>
    			</div>
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav navbar-right">
  						<li role="presentation"><a [routerLink]="['main_container']">Home</a></li>
  						<li role="presentation"> <a [routerLink]="['news_container']">News</a></li>
  					
					</ul>
    			</div>
  			</div>
		</nav>
        <router-outlet></router-outlet>
<nav>
